# Data Preprocessing

In [1]:
import pandas as pd

##### Data from Krish's repository.

In [2]:
data = pd.read_csv('./Data/tsvFiles/data_krish.tsv', sep = '\t')

print(data.shape)

data.head()

(669713, 2)

      Password  Strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1

In [21]:
data['Strength'].value_counts()

1    496816
0     89701
2     83171
Name: Strength, dtype: int64

In [22]:
data.drop_duplicates(subset = 'Password', keep = 'first', inplace = True)

In [23]:
data0 = data[data['Strength'] == 0]
data1 = data[data['Strength'] == 1]
data2 = data[data['Strength'] == 2]

In [24]:
data2.head()

               Password  Strength
5      AVYq1lDE4MgAZfNt         2
13     WUt9IZzE0OQ7PkNE         2
20  elyass15@ajilent-ci         2
22     klara-tershina3H         2
41     pHyqueDIyNQ8vmhb         2

In [25]:
print("data0 shape : ", data0.shape)
print("data1 shape : ", data1.shape)
print("data2 shape : ", data2.shape)

data0 shape :  (89701, 2)
data1 shape :  (496816, 2)
data2 shape :  (83171, 2)

In [28]:
data.dtypes

Password    object
Strength     int64
dtype: object

In [36]:
data1 = data1.sample(frac = 0.45)

##### Data from Common.tsv

In [37]:
commonData = pd.read_csv('./Data/tsvFiles/common.tsv', sep = '\t')

print('Common data shape: ', commonData.shape)

commonData.head()

Common data shape:  (100000, 2)

    Password  Strength
0     123456         0
1   password         0
2   12345678         0
3     qwerty         0
4  123456789         0

In [38]:
common = pd.concat([commonData, data0], axis = 0)

common.head()

    Password  Strength
0     123456         0
1   password         0
2   12345678         0
3     qwerty         0
4  123456789         0

In [39]:
common = common.drop_duplicates(subset = 'Password', keep = 'first')

print("Passwords having strength = 0 : ", common.shape[0])

common.head(3)

Passwords having strength = 0 :  187088

   Password  Strength
0    123456         0
1  password         0
2  12345678         0

##### Data from strong.tsv

In [40]:
strongData = pd.read_csv('./Data/tsvFiles/strong.tsv', sep = '\t')

# shuffle
strongData = strongData.sample(frac = 1)
strongData = strongData.sample(frac = 1)
strongData = strongData.sample(frac = 1)
strongData = strongData.sample(frac = 1)

print('Strong data shape: ', strongData.shape)

strongData.head()

Strong data shape:  (152320, 2)

            Password  Strength
13421     h)-L54Xcge         2
105882  x#bwTSYA^76%         2
87786    ^_NFLe#v5r9         2
52703       44#&KGvp         2
107002  gS42RjuA(h#u         2

In [41]:
strong = pd.concat([strongData, data2], axis = 0)

In [42]:
strong.drop_duplicates(subset = 'Password', keep = 'first', inplace = True)

print('Passwords having strength = 0 : ', strong.shape[0])

Passwords having strength = 0 :  235491

###### Combine common, data1, strong

In [43]:
df = pd.concat([common, data1, strong], axis = 0)

#shuffle
df = df.sample(frac = 1)
df = df.sample(frac = 1)
df = df.sample(frac = 1)

df.drop_duplicates(subset = ['Password'], keep = 'first', inplace = True)


df['Strength'].value_counts()

2    235491
1    222965
0    186479
Name: Strength, dtype: int64

In [44]:
df.head()

                Password  Strength
494681  ulGCsczQ1NQEc9BH         2
349750         esvgrzjp5         1
26080       w_6mULWX_&x5         2
49575              heron         0
7004           T4.9aFg%y         2

In [45]:
df.tail()

               Password  Strength
37500           senftp1         0
21159           heslo12         0
521458  gyakovichenko0Q         2
36699          yaya4989         1
315842         moryl664         1

##### Save df

In [48]:
df.to_csv('./Data/tsvFiles/data.tsv', sep = '\t', index = False)

#### Creating tf-idf vector for each password

In [49]:
def word_divide_char(X):
    return list(X)

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(tokenizer = word_divide_char, encoding='utf-8')

X = vectorizer.fit_transform(data['Password'].values.astype('U'))

In [61]:
X[:3, :].toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.56690232, 0.        , 0.59129005, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.28563748, 0.22168292, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.29224853, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.33594129, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.5602622 , 0.61776705,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.25197697, 0.        , 0.32175526, 0.        ,
        0.        , 0.26770657, 0.25648488, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.2261181 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.34100705, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.5279713 , 0.        , 0.33708942, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.2894536 , 0.29729275, 0.        , 0.        , 0.39249136,
        0.        , 0.        , 0.33761813, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ]])